@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

.btnHover:hover {
  background-color: rgb(123, 233, 123) !important;
}

.disable-button:disabled {
  color: rgb(155, 18, 18) !important;
}
.barca-color {
  background: linear-gradient(0deg,#181733 0,#181733 30%,rgba(173,16,40,.5)) !important;
}